:root {
  --text: #010101;
  --bg: #f1f1f1;
  --accent: #0f7c41;

  --links: #3577f7;
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);

  --font-family: "Montserrat", sans-serif;
  --second-family: "Gotham Pro", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* щоб усі елементи рахували ширину однаково */
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

.container {
  margin: 0 auto;
  padding-inline: 20px;
  max-width: 360px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-inline: 32px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-inline: 112px;
    max-width: 1440px;
  }
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--links);
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
